<!-- Main launch file -->
<launch>
  
   
   <node pkg="nostop_kinect_sensor" type="acquisition_node" name="acquisition_node" required="true" output="screen" >
   <param name="frequency" value="20"/><!--Hz-->
   <param name="SRworld_lat0" value="47.720765588051"/><!-- degrees--><!-- in [-90,90] -->
   <param name="SRworld_lon0" value="10.3904406074435"/><!-- degrees-->
   </node>
   
   
   <!-- N KINECT CAMERAS ( N CAMERAS = N LAUNCH FILE )-->
   <!-- include file="$(find nostop_kinect_sensor)/launch/kinect.launch"/ -->

  
   <!-- M USB-CAM ( M CAMERAS = M LAUNCH FILE ) -->
   <!--include file="$(find nostop_kinect_sensor)/launch/logitech-cam.launch"/-->
   <!--include file="$(find nostop_kinect_sensor)/launch/philips-cam.launch"/-->
  
  <!-- fake imu -->
  <include file="$(find nostop_kinect_sensor)/launch/fake_imu.launch"/>
  
  
</launch>