<launch>
  
   
   <node pkg="nostop_kinect_sensor" type="sensor_node" name="sensor_node" required="true" output="screen" />
   
   
  <!-- N KINECT CAMERAS ( N CAMERAS = N LAUNCH FILE )-->
   <include file="$(find nostop_kinect_sensor)/launch/kinect.launch"/>

  
   <!-- M USB-CAM ( M CAMERAS = M LAUNCH FILE ) -->
   <include file="$(find nostop_kinect_sensor)/launch/usb-cam.launch"/>
  
 
  
  
</launch>