<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
   <remap from="/usb_cam/image_raw" to="/usb/cam_img"/>
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="camera_name" value="list" />
  </node>
 
<arg name="camera_name" default="usb" />
<arg name="topic_name" default="/usb/cam_img" />
<arg name="xC" default="0" />
<arg name="yC" default="0" />
<arg name="minus_xy" default="maggiore_minor" />
<arg name="zC" default="105" />
<arg name="Pitch" default="31.5" />
<arg name="omega" default="0" />
<arg name="gamma" default="180" />
  <node pkg="nostop_kinect_sensor" type="script_cam.sh" 
    args="$(arg camera_name) $(arg topic_name) $(arg xC) $(arg yC) $(arg minus_xy) $(arg zC) $(arg Pitch) $(arg omega) $(arg gamma)" 
    name="pub" output="screen">
  </node>
  
  <arg name="image_topic" default="/usb/cam_img" />
  <node pkg="nostop_kinect_sensor" type="script_calibration.sh" 
    args="$(arg image_topic)"
    name="pub" output="screen">
  </node>
</launch>
